@import '../../vars';

.topic-questions-section {
  background: $background;
  padding: 20px 0px;
  margin-top: 20px;
  @media screen and (min-width: $tablet){
      padding: 40px 0px;
      margin-top: 40px;
  }
}
