@import '../vars';

.option-bubble{
    margin: 5px;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    &:focus {
        outline: none;
    }
    &:focus-within{
        .option-bubble__label{
            outline: none;
            box-shadow: 0 0 0 3px $focus;
        }
    }
    @media screen and (min-width: $tablet){
        width: 30%;
        margin-bottom: 5px;
    }
}

.option-bubble__input:checked + .option-bubble__label{
    background-color: $darkText;
    color: $white;
    .option-bubble__helptext{
        color: $white;
    }

    &.option-bubble__label--health{
        background-color: darken($health, 30)
    }
    &.option-bubble__label--family{
        background-color: darken($family, 30)
    }
    &.option-bubble__label--skills{
        background-color: darken($skills, 30)
    }
    &.option-bubble__label--home{
        background-color: darken($home, 30)
    }
    &.option-bubble__label--children{
        background-color: darken($children, 30)
    }
    &.option-bubble__label--time{
        background-color: darken($time, 30)
    }
}

.option-bubble__input.visually-hidden {
    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px $focus;
    }
}

a.option-bubble {
    text-decoration: none;
}

.option-bubble {
    position: relative;
    &.option-bubble_completed {
        .option-bubble__label {
            opacity: 0.7;
        }
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px $focus;
    }

    .checkmark_container {
        top: 18px;
        right: 21px;
        border-color: #fff;
        width: 25px;
        height: 25px;
        border-width: 3px;
        cursor: pointer;
        line-height: 17px;
        &:hover {
            opacity: 0.7;
        }

        .checkmark {
            &:after {
                width: 4px;
                height: 8px;
                border-width: 0 3px 3px 0;
                border-color: #fff;
            }
        }
    }
}

.option-bubble__label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    text-align: center;
    background: $shadow;
    border-radius: 30px;
    font-size: 1em;
    color: $darkText;
    padding: 0px 41px;
    height: 100%;
    font-weight: bold;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    &:hover{
        filter: brightness(0.95);
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px $focus;
    }
}

.option-bubble__helptext{
    font-weight: normal;
    display: block;
    font-size: 0.9em;
    color: $lightText;
}

.option-bubble__label--health{
    background-color: transparentize($health, 0.3);
}
.option-bubble__label--family{
    background-color: transparentize($family, 0.3);
}
.option-bubble__label--skills{
    background-color: transparentize($skills, 0.3);
}
.option-bubble__label--home{
    background-color: transparentize($home, 0.3);
}
.option-bubble__label--children{
    background-color: transparentize($children, 0.3);
}
.option-bubble__label--time{
    background-color: transparentize($time, 0.3);
}
