
// typography
$darkText: #1E2428;
$lightText: #555F66;
// links
$link: #2c2d84;
// backgrounds
$shadow: #D8DDE0;
$background: #EEEEEE;
$white: #ffffff;
// psuedostates
$focus: #FFB81C;
$activeCard: #fafafa;

// service colours
$health: #9FC63B;
$family: #ED7004;
$skills: #006AB4;
$home: #005961;
$time: #660539;

// breakpoints
$smartphone: 250px;
$tablet: 750px;
$desktop: 1000px;
$largeDesktop: 1500px;

$maxWidth: 710px;
$maxContainer: 1000px;

// base font sizes
$title: 2em;
$subtitle: 1.5em;
$lede: 1.3em;
$paragraph: 1.1em;
$small: 0.8em;

// desktop font sizes
$title-d: 2.813em;
$subtitle-d: 1.875em;
$lede-d: 1.5em;
$paragraph-d: 1.188em;
$small-d: 1.125em;

// // body p {
// //     font-size: $paragraph;
// // }

// // font-size mixins
// @mixin smallText {
//     font-size: $small;
//     @media screen and (min-width: $tablet){
//         font-size: $small-d;
//     }
// }
// @mixin paragraphText {
//     font-size: $paragraph;
//     @media screen and (min-width: $tablet){
//         font-size: $paragraph-d;
//     }
// }
// @mixin ledeText {
//     font-size: $lede;
//     @media screen and (min-width: $tablet){
//         font-size: $lede-d;
//     }
// }
// @mixin subtitleText {
//     font-size: $subtitle;
//     @media screen and (min-width: $tablet){
//         font-size: $subtitle-d;
//     }
// }
// @mixin titleText {
//     font-size: $title;
//     @media screen and (min-width: $tablet){
//         font-size: $title-d;
//     }
// }
