@import '../vars';

.final-results {
    p {
        margin-bottom: 25px;
    }
    h2 {
        margin-bottom: 0px;
    }
}
.link-to-results {
  margin-top: 15px;
  font-size: 1.1em;
  a {
        color: $link;
        font-weight: 600;
        &:hover {
            text-decoration: none;
        }
    }
}
