@import '../vars';

.card__reveal-indicator {
    background: $link;
    height: 4px;
    width: 17px;
    position: absolute;
    right: 12px;
    top: 21px;
    -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
    transform: rotate(0deg);

    @media screen and (min-width: $tablet){
        right: 25px;
        top: 25px;
        height: 6px;
        width: 20px;
    }

    &:after {
        content: "";
        background: $link;
        height: 4px;
        width: 17px;
        transform: rotate(0deg);
        position: absolute;
        -webkit-transition: 0.1s ease-in-out;
        -moz-transition: 0.1s ease-in-out;
        -o-transition: 0.1s ease-in-out;
        transition: 0.1s ease-in-out;
        @media screen and (min-width: $tablet){
            height: 6px;
            width: 20px;
        }
    }
    &.closed {
        transform: rotate(-90deg);
        &:after {
            transform: rotate(-90deg);
        }
    }
}

.topic-card {
    &.healthindex-card, &.results_topic_lifestyle-card {
        border-top: 7px solid $health;
        .card__reveal-indicator, .card__reveal-indicator:after {
            background: $health;
        }
    }
    &.familyindex-card, &.results_topic_family-card {
        border-top: 7px solid $family;
        .card__reveal-indicator, .card__reveal-indicator:after {
            background: $family;
        }
    }
    &.homeindex-card, &.results_topic_home-card {
        border-top: 7px solid $home;
        .card__reveal-indicator, .card__reveal-indicator:after {
            background: $home;
        }
    }
    &.skillsindex-card, &.results_topic_skills-card {
        border-top: 7px solid $skills;
        .card__reveal-indicator, .card__reveal-indicator:after {
            background: $skills;
        }
    }
    &.timeindex-card, &.results_topic_time-card {
        border-top: 7px solid $time;
        .card__reveal-indicator, .card__reveal-indicator:after {
            background: $time;
        }
    }

    .card__title, .card__intro {
        max-width: $maxWidth;
        margin-bottom: 15px;

        @media screen and (min-width: $desktop){
            margin-bottom: 10px;
        }
        ul {
            padding-left: 25px;
            margin-top: 10px;
        }
    }
    &.clickable {
        &:hover {
            cursor: pointer;
        }
    }
}

.reveal-results {
    margin-top: 20px;
    font-size: $small;

    .reveal-results_link {
        color: $link;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    p {
        margin-bottom: 6px;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    h3 {
        margin-bottom: 10px;
    }
}
.reveal-results_content {
    max-width: $maxWidth;
    h3 {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}
