@import '../../vars';

.other-results {
  margin-top: 40px;

  h2 {
    margin-bottom: 20px;
  }
}
.body-with-background {
  background: $background;
}
.share-button--container {
  padding: 0 !important;
  .share-button--for-list{
    display: none;

    @media screen and (min-width: $desktop){
      font-weight: 600;
      float: right;
      font-size: 1em;
      background: none;
      border: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
      text-decoration: underline;
      &:before{
        margin-right: 10px;
        width: 35px;
        height: 35px;
        border-radius: 100%;
        background-color: $darkText;
        content: "";
        display: inline-block;
        background-image: url("./send.svg");
        background-size: 19px;
        background-position: center;
        background-repeat: no-repeat;
      }
      &:hover{
        text-decoration: none;
        &:after{
            background-color: lighten($darkText, 5)
        }
      }
    }
}
}
