@import '../../vars';

.topic-sections {
  background: $background;

  .home-body {
    margin-top: 50px;
    @media screen and (min-width: $tablet){
      margin-top: 0;
    }
  }
  .topic-card {
    margin-top: 50px;
  }

  .topic-sections_navigation {
    max-width: $maxWidth;
    margin: 0 auto;

    .topic-sections_navigation_inner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.homepage_complete_message {
  h2 {
    margin-bottom: 10px;
  }
  p {
    font-weight: 600;
  }
}
