@import '../../vars';

.topic-questionnaire, .final-results, .topic-questionnaire_end {
  background: $background;
}

.topic-content {
  margin-bottom: 20px;
  @media screen and (min-width: $tablet){
    margin-bottom: 40px;
  }
}

.topic-content__body {
  p {
    margin-bottom: 15px;
  }
  @media screen and (min-width: $desktop){
      max-width: $maxWidth;
  }
}

.topic-questionnaire_start {
    max-width: $maxWidth;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px;
    @media screen and (min-width: $tablet){
        padding-left: 30px;
        padding-right: 50px;
    }
    text-align: center;

    p {
      margin-bottom: 25px;
    }
}


.topic-questionnaire_questions {
  animation: fadeIn 0.3s ease-out;
}

.topic-questionnaire_end {
  padding-top: 0;
  margin: 0 auto;
  @media screen and (min-width: $desktop){
      max-width: $maxWidth;
  }

  p {
    margin-bottom: 15px;
  }
}

.centered-button {
  text-align: center;
  margin-top: 60px;
  .button {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.fade-animate {
  animation: fadeIn 0.3s ease-out;
}
