
body {
  margin: 0;
}
#home-body-content {
  padding: 40px 20px;
  @media screen and (min-width: 750px){
      padding: 50px 20px;
  }
  @media screen and (min-width: 1000px){
      padding: 60px 20px;
  }
}
.bold-body {
  text-align: center;
  line-height: 1.6;
  max-width: 710px;
  margin: 0 auto;
  @media screen and (min-width: 750px){
    font-size: 1.15em;
  }
  @media screen and (min-width: 1000px){
    font-size: 1.3em;
  }
}

.start_button {
  margin-top: 15px;
}


.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}